:root {
    --service-height-large: 220px;
    --service-height-small: 110px;
    --service-width-max: 150px;
    --service-width-min: 100px;
    --service-gap: 5px;
    --service-secondary-color: #f3f3f3;
}

.serviceCards {
    display: grid;
    grid-template-areas:
        "c1 c2"
        "c1 c4"
        "c3 c4";
    gap: 5px;
    width: 100%;
    max-width: calc(var(--service-width-max) * 2 + var(--service-gap));
    height: calc(var(--service-height-large) + var(--service-gap) + var(--service-height-small));


    .service {
        background-color: var(--primary-color);
        max-width: var(--service-width-max);
        border-radius: 20px;
    }

    .service1 {
        height: var(--service-height-large);
        grid-area: c1;
    }

    .service2 {
        height: var(--service-height-small);
        grid-area: c2;
    }

    .service3 {
        height: var(--service-height-small);
        grid-area: c3;
    }

    .service4 {
        height: var(--service-height-large);
        grid-area: c4;
    }
}



.serviceContent {
    display: flex;
    justify-content: center;
}


.hidden {
    display: none;
}


.successOverlayContainer {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
}

.successOverlay {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 70px);
    width: min-content;
    /* aspect-ratio: 1/1; */
    /* top: 50vh;
    left: 50vw; */
    background-color: white;
    color: black;
    border-radius: 1rem;

    .successOverlayImage {
        position: relative;
        height: 150px;
        width: 150px;

        &>* {
            position: absolute;
        }
    }

    .successOverlayText {
        text-align: center;
        font-weight: 700;
        padding: 10px;
    }
}








/* calculate this first for replacing media query min-width:
calc(var(--service-width-max) * 3 + var(--service-gap) * 2);
150 * 3 + 5 * 2
450 + 10
*/

@media only screen and (min-width: 460px) {
    .serviceCards {
        grid-template-areas:
            'c1 c2 c4'
            'c1 c3 c4';
        max-width: calc(var(--service-width-max) * 3 + var(--service-gap) * 2);
        height: calc(var(--service-height-large) + var(--service-gap));

        .service1,
        .service4 {
            height: calc(var(--service-height-large) + var(--service-gap));
        }
    }
}





.selectCertificateContent {
    .selectUniversity {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* gap: 5px; */
        margin-bottom: 20px;
        height: 50vh;

        .activeOutline {
            padding: 5px;
            border-radius: 20px;

            &:hover {
                background-color: cyan;
            }
        }

        .universityContent {
            background-color: white;
            border-radius: 20px;
            width: 110px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: visible;

            .universityImage {
                margin: 0 auto;

                img {
                    width: 80px;
                }
            }

            .universityName {
                padding: 0 3px;
                text-align: center;
                color: black;
                font-size: 12px;
                font-weight: 800;
            }
        }
    }
}


.boardServiceContent {
    display: flex;
    flex-direction: column;
    gap: 5px 0;

    .boardServiceOption {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-radius: 10px;
        /* background-color: var(--primary-color); */
        background-color: white;
        color: black;
        font-weight: 800;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    }

}

.services-boardServiceOrder {
    /* This margin separate form with borders of screen */
    margin: 10px;
}

.boardServiceOrderContent {
    padding: 1.5rem;
    border-radius: 0.75rem;
    max-width: 36rem;
    border: #212121 solid;
    background-color: var(--order-form-bg);
    /* For making progress bar strip in right place */
    z-index: 1;

    .boardOrderDetails {
        padding: 1rem;
        border-radius: 0.75rem;
        background-color: var(--service-secondary-color);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

        .boardOrderDetailsContent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            img {
                object-fit: contain;
                border-radius: 0.25rem;
                width: 5rem;
                height: auto;
                max-height: 8rem;
            }

            div {
                h2 {
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    font-weight: 600;
                }

                p {
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: #4B5563;
                }
            }
        }
    }

    #order-form {
        margin-bottom: 7rem;
        margin-top: 1rem;

        div {
            .formLabel {
                display: block;
                margin-bottom: 0.25rem;
                font-weight: 600;
            }
        }

        .inputField {
            width: 100%;
            /* max-width: 20em; */
            height: 2.5em;
            margin: 20px 0;
            position: relative;
            display: flex;
            align-items: center;

            .form_input {
                position: absolute;
                width: 100%;
                height: 100%;
                padding-left: 1em;
                background-color: transparent;
                border: 2px solid var(--primary-text-color);
                border-radius: 0.5em;
                outline: none;
                color: var(--primary-text-color);
                box-sizing: border-box;
            }

            .form_input:focus {
                border: 2px solid #00ffff;
            }

            label {
                position: absolute;
                background-color: var(--background-color);
                color: var(--primary-text-color);
                font-family: poppins, sans-serif;
                top: 0.5em;
                left: 1em;
                cursor: text;
                transition: top 250ms ease-in,
                    font-size 250ms ease-in;
            }

            .form_input:focus~label,
            .form_input:not(:placeholder-shown)~label {
                top: -1em;
                font-size: 0.75em;
                padding: 0 0.125em;
            }

            select {
                all: unset;
                position: absolute;
                width: 100%;
                height: 100%;
                padding-left: 1em;
                background-color: transparent;
                border: 2px solid var(--primary-text-color);
                border-radius: 0.5em;
                outline: none;
                color: var(--primary-text-color);
                display: flex;
                align-items: center;
                box-sizing: border-box;

                option {
                    width: 100px;
                    background-color: #363636;
                    color: var(--secondary-text-color);
                }

                .selectBoox {
                    overflow: hidden;
                    width: 100px;
                }
            }

            select:focus {
                border: 2px solid #00ffff;
            }

            .selectLabel {
                position: absolute;
                background-color: var(--background-color);
                color: var(--primary-text-color);
                font-family: poppins, sans-serif;
                left: 1em;
                cursor: text;
                transition: top 250ms ease-in,
                    font-size 250ms ease-in;
            }

            select:focus~label {
                top: -1em;
                font-size: 0.75em;
                padding: 0 0.125em;
            }
        }

        .deliveryAddress {
            margin-top: 0.5rem;

            label {
                display: block;
                font-weight: 600;
            }
        }
    }
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    gap: 20px;
    margin: 20px 0;
    width: 100%;

    &>* {
        flex-shrink: 1;
        flex-grow: 1;
    }
}





.orderRibbon {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 10;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--service-secondary-color);
    box-shadow: 1px 4px 20px 10px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    div {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }

    button {
        padding: 0.5rem 1.5rem;
        border-radius: 8px;
        color: white;
        background-color: #059669;
        transition: background-color 0.5s ease;
        border: none;
    }

    button:disabled {
        cursor: not-allowed;
        background-color: gray;
    }
}

.disablePayButton {
    cursor: not-allowed;
    opacity: 0.5;
}

.orderOverlay {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;

    .orderOverlayBox {
        padding: 1.5rem;
        margin-top: 1rem;
        border-radius: 0.5rem;
        /* width: 20rem; */
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

        img {
            width: 3rem;
            height: 3rem;
        }

        p {
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 500;
            color: #374151;
        }

        div {
            margin-left: 0.5rem;

            .retry {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 0.25rem;
                color: #ffffff;
                background-color: #2563EB;
            }

            .toHome {
                display: inline-block;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 0.25rem;
                color: #ffffff;
                background-color: #6B7280;
            }
        }
    }
}

.orderOverlay.hidden {
    display: none;
}





/* Progress Bar Styles */
.progress-container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    /* padding: 0 20px; */
    max-width: 600px;
}

.step {
    text-align: center;
    flex: 1;
    position: relative;
    font-weight: 700;
    font-size: small;
    transition: all 0.5s ease;
}

.step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 15px;
    right: -50%;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    z-index: -1;
}

.step.completed:not(:last-child)::after {
    background-color: #28a745;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto 10px;
    line-height: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.step.completed .circle {
    background-color: #28a745;
    color: white;
}

.step.current .circle {
    background-color: #007bff;
    color: white;
}

.step.current {
    p {
        color: #007bff;
    }
}

















/* === Bank Cards === */
.bank-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.bank-card {
    width: 50px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: white;
    display: flex;

}

.bank-card img {
    width: 100%;
    height: auto;
}

.bank-card:hover {
    border-color: #007bff;
}

.bank-card.selected {
    border-color: #28a745;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
}

/* === Countdown + Account Info === */
#payment-timer {
    margin-top: 40px;
    text-align: center;
}

.countdown-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 30px auto;
}

.countdown-ring {
    transform: rotate(-90deg);
}

.countdown-ring circle {
    transition: stroke-dashoffset 1s linear;
}

.time-inside-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.bank-details {
    font-size: 16px;
    margin-top: 10px;
}

.account-box {
    margin-top: 20px;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    font-size: 16px;
    box-shadow: 0 3px 8px rgba(0, 123, 255, 0.1);
}

.copy-icon {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #007bff;
}

.copy-icon:hover {
    color: #0056b3;
}

.paid-btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #28a745;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.paid-btn:hover {
    background-color: #218838;
}

/* === Toast Notification === */
.toast {
    position: fixed;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    background-color: #28a745;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 16px;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 9999;
    text-align: center;
}

.toast.show {
    bottom: 30px;
    opacity: 1;
}


/* .nextFormContent1,  */
.nextFormContent2,
.nextFormContent3 {
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-radius: 1rem;
    height: 50px;
    margin-top: 100px;
    font-size: larger;
    font-weight: 700;
    color: var(--primary-text-color);
    background-color: #059669;
    border: none;

    &:disabled {
        background-color: gray;
    }
}

html[data-theme='dark'] {
    --service-secondary-color: #161616;
}

@media (prefers-color-scheme: dark) {
    html:not([data-theme='light']) {
        --service-secondary-color: #161616;
    }
}